
.flex{
  display: flex;
  flex-direction: column;

}
.breakLine{

  background-color: #000;
  margin-top: 20px;
  opacity: 0.3;
  margin-bottom: 20px;
  width: 80%;
  height: 1px;

}
.row{

  flex-direction: row;
}
body {
  flex: 1;
  display: flex;

  margin: 0;
  font-family: 'Lato',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html, body, #root, .App {
  display: flex;
  flex:1;
  min-height: 100vh;
  min-width: 100vw;
}